.main {
  display: block;
  border: 2px solid black;
  width: 80%;
  margin: 3rem;
  background-color: #fff;
}

.btn-sign {
  display: inline-block;
  margin: 1rem auto ;
}


#sign-in {
  margin-left: 1rem;
}
